body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #28a745;
    padding: 10px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100vh - 60px);
    gap: 15px;
    padding: 20px;
}

.btn {
    color: white !important;
    width: 60%;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745 !important;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.btn:active {
    background-color: #218838;
    transform: scale(1);
}

.image {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile i {
    font-size: 40px;
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
}