.btn {
    color: white !important;
    width: 60%;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745 !important;
    transition: background-color 0.3s ease, transform 0.2s ease;
}